.container{
    margin: 30px; 
}

.box{
    font-size:15px;
    width:130px;
    height:25px;
    background:#FCF5DB;
    
}
.func_box{
    font-size:15px;
    width:280px;
    height:25px;
    background:#FCF5DB;
    
}